.pictureCardsContainer {
    padding: 15px;
    transition: transform 0.15s ease-in-out;
    /* &:hover { transform: scale3d(1.05, 1.05, 1);}, */

}
div.pictureCardsContainer:hover {
    transform: scale3d(1.05, 1.05, 1);
}